body {background-color: rgb(63, 101, 156);}

h2 {
    color: rgb(229, 128, 145);
    position: absolute;
    left: 800px; 
    top: 150px; 
    
}

body button {
    background-color: #204b04;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: default;
    margin-top: 10px;
}

.container {
    max-width: 300px;
    margin: auto;
    background: #0fe995;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    position: absolute;
    left: 740px; 
    top: 250px; 
}

form { 
    color: rgb(229, 128, 145);
    position: absolute;
    left: 800px; 
    top: 250px; 
    max-width: 300px;
    margin: auto;
    background: #0fe995;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
} 

div {
    color: rgb(12, 11, 11);
    position: absolute;
    left: 800px; 
    top: 350px; 
    max-width: 300px;
    margin: auto;
    background: #f3db06;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
} 

    
