<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL</title>
        <link rel="stylesheet" href="style.css">   
    </head>
    <body>
        <h2>Temperature convention Tool</h2>
        <div id="result">
             <p id="status"></p>
        </div>
        
    <section id="forms">
        <h2>Temperature convention </h2>
        <div id="">
            <p id="status"></p>
       </div>
        <form id="form" type="submit">
        <input type="number" id="temp" name="num">

        <button type="submit">convert to Fahrenheit:</button>
        </form>
    </section>
        <script src="script.js"></script>
    </body>