<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <h2>Simple Calculator</h2>
    <div id="result">
        <p id="status">Result: </p> <!-- The result will be shown here -->
    </div>
    <div>
        <form id="calcForm">
            <label for="num1">Number 1:</label><br><!-- label is the name before the input -->
            <input type="number" id="num1" name="num1" required><br><br>

            <label for="num2">Number 2:</label><br>
            <input type="number" id="num2" name="num2" required><br><br>

            <label for="dropdown">Choose action:</label><br>
            <select id="dropdown" name="dropdown">
                <option value="option1">+</option>
                <option value="option2">-</option>
                <option value="option3">*</option>
                <option value="option4">/</option>
            </select><br><br>

            <button type="button" onclick="calculate()">Calculate</button>
        </form>
    </div>
    <script src="script.js" defer></script>
</body>
</html>
